<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsleiden.groep6.festival"
    android:versionCode="1"
    android:versionName="1.0" 
    android:windowSoftInputMode="adjustPan">
    
    <uses-permission android:name="android.permission.INTERNET" /> 

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
                
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

         <activity android:name="hsleiden.groep6.festival.Acts" >
            	  <!--android:label="Acts"  -->
        </activity>
         <activity android:name="hsleiden.groep6.festival.LosseActs" >
            	  <!--android:label="Losse_acts"  -->
        </activity>
          <activity android:name="hsleiden.groep6.festival.ActsTest" >
            	  <!--android:label="test"  -->
        </activity>
        
          <activity android:name="hsleiden.groep6.festival.ToonKaart" >
            	  <!--android:label="kaart"  -->
        </activity>
        
          
        <activity
            android:name="hsleiden.groep6.festival.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
             
         
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
      
    </application>
    
</manifest>